# PostgreSQL
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_db
POSTGRES_HOST=localhost        # use 'pgdatabase' when running inside Docker
POSTGRES_PORT=5433             # use '5432' when running inside Docker

# GCP
GCP_PROJECT_ID=your-project-id
GCP_LOCATION=your-location
GCS_BUCKET=your-bucket-name
GOOGLE_APPLICATION_CREDENTIALS=./credentials/service-account.json

# Kestra
GCP_SERVICE_ACCOUNT=your-service-account-json-content